@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Source+Code+Pro:400,700");

body {
  background: #434;
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans";
}

.spaceCanvasParent {
  position: relative;
}

.spaceCanvas {
  background: url("./assets/kenney/purple.png");
  background-repeat: repeat;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.spaceUniverse {
  width: 100%;
  height: 100%;
}

.spaceObjects {
  position: absolute;
  * {
    position: absolute;
  }
}

.starship {
  background: url("./assets/kenney/spaceRockets_002.png");
  background-size: 100%;
  z-index: 10;
  position: absolute;

  .thrust {
    background: url("./assets/kenney/spaceEffects_003.png");
    background-size: 100%;
    width: 14px;
    height: 25px;
    position: relative;
    left: calc(50% - 7px);
    top: calc(100% - 5px);
  }
}

.planet {
  background: url("./assets/kingcreator11/planet1.png");
  background-size: 100%;
  &.planetType-Dust {
    filter: hue-rotate(180deg);
  }
  &.planetType-Gas-Giant {
    filter: grayscale(0.5) contrast(2) hue-rotate(215deg);
  }
  &.planetType-Water {
    filter: hue-rotate(0deg);
  }
  &.planetType-Primordial {
    filter: hue-rotate(220deg);
  }
  &.planetType-Metal {
    filter: contrast(1.5) hue-rotate(175deg) grayscale(0.8) 
  }
  &.planetType-Pellucid {
    filter: grayscale(0.9) hue-rotate(76deg) contrast(3);
  }
}

.moon {
  background: url("./assets/kingcreator11/planet2.png");
  background-size: 100%;
  filter: grayscale(1);
  &.moonType-Dust {
    filter: hue-rotate(270deg);
  }
  &.moonType-Gas-Giant {
    filter: grayscale(0.5) contrast(2) hue-rotate(305deg);
  }
  &.moonType-Water {
    filter: hue-rotate(90deg);
  }
  &.moonType-Primordial {
    filter: hue-rotate(310deg);
  }
  &.moonType-Metal {
    filter: contrast(1.5) hue-rotate(265deg) grayscale(0.8) 
  }
  &.moonType-Pellucid {
    filter: grayscale(0.9) hue-rotate(166deg) contrast(3);
  }
}

.unidentifiedObject {
  background-size: 100%;
  &.unidentifiedObject-enemyShip {
    background: url("./assets/kenney/spaceShips_008.png");
    background-size: 100%;
  }
}

.star {
  background: url("./assets/salemf/sun_shiny.png");
  background-size: 100%;
}

.main {
  display: grid;
  grid-template-areas:
    "map playground"
    "info playground";
  grid-template-columns: 500px auto;
  grid-template-rows: 500px auto;

  > * {
    overflow: hidden;
    justify-self: stretch;
    align-self: stretch;
  }

  .gql-playground {
    grid-area: playground;
  }

  .spaceCanvasParent {
    grid-area: map;
  }

  .info {
    grid-area: info;
  }
}

.message {
  color: white;
  border-radius: 5px;
  padding: 5px;
  &.message-unread {
    background-color: #979;
  }
  &.message-read {
    background-color: #868;
  }

  .title {
    font-size: 1.2em;
  }
  .body {
    font-size: 1em;
  }
}

.info {
  background-color: #434;
  color: white;
  button {
    color: white;
    background-color: #646;
    margin: 5px;
    border: 0px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
  }
}
