body {
  background: #434;
  padding: 0px;
  margin: 0px;
}

.spaceCanvasParent {
  position: relative;
}

.spaceCanvas {
  background: url("./assets/kenney/purple.png");
  background-repeat: repeat;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.spaceObjects {
  position: absolute;
  * {
    position: absolute;
  }
}

.starship {
  background: url("./assets/kenney/spaceRockets_002.png");
  background-size: 100%;
  z-index: 10;
  position: absolute;

  .thrust {
    background: url("./assets/kenney/spaceEffects_003.png");
    background-size: 100%;
    width: 14px;
    height: 25px;
    position: relative;
    left: calc(50% - 7px);
    top: calc(100% - 5px);
  }
}

.planet {
  background: url("./assets/kingcreator11/planet1.png");
  background-size: 100%;
  &.planet-mars {
    background: url("./assets/kingcreator11/planet2.png");
    filter: hue-rotate(270deg);
    background-size: 100%;
  }
}

.moon {
  background: url("./assets/kingcreator11/planet2.png");
  background-size: 100%;
  filter: grayscale(1);
  transform: scaleX(-1) scaleY(-1);
}

.star {
  background: url("./assets/salemf/sun_shiny.png");
  background-size: 100%;
}
